html,
body {
  margin: 0;
}
body {
  font-family: "Lato", "Helvetic Neue", "Hiragino Sans GB", "microsoft yahei", arial, sans-serif;
}
.inline-block {
  display: inline-block;
}
.full-width {
  width: 100%;
}
